.c-item{
    height: 480px;
    padding-top: 100px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);

}

.dropdown {
    position: absolute;
    top: 10;
    right: 120px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #328755;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width: 1350px) {
    .dropdown {
      display: none;
    }
  }


  a {
    color: rgb(255, 255, 255); /* Set the desired color, such as red */
    text-decoration: none; /* Remove underline if desired */
  }
  a:hover {
    color: rgb(255, 255, 255); /* Set the desired color when the link is hovered over, such as green */
  }
  .card {
    flex: 1;
    width: 400px;
    height: 500px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.card-container{
  display: flex;
  justify-content: space-between;
}
.card img{
  width: 380px;
  height: 200px;
}
.special-card {
    flex: 1;
    width: 600px;
    height: 100px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}